@model FPRO.Models.Class.Contact

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_HomeLayoutPage1.cshtml";
}

<div class="container3">
    <div class="contact-box">
        <div class="left"></div>

        @using (Html.BeginForm())
        {
            <div class="right">
                <h2>Bize Ulaşın</h2>
                @Html.AntiForgeryToken()

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "field" })
                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "field" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })

                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "field" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "field" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })

                @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "field" } })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })


                <div class="form-group">
                    <button class="btn">Send</button>
                </div>
            </div>

        }
    </div>
</div>

